<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Doctors</title>
<style>
*{
box-sizing: border-box;
}
img {
	opacity: 0.4;
	width: 100%;
	height: 900px;
}
h2{
color: red;
}
.container {
	position: relative;
	position: absolute;
	align: center;
	margin-left: 20%;
	top: 20%;
	bottom: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}
</style>
</head>
<body>
	<img
		src="https://thumbs.dreamstime.com/b/team-group-doctors-nurses-medicine-healthcare-concept-43916218.jpg">
	<div class="container">
		<div align="center">
			<h2>All Doctors</h2>
			<a href="admin">Go Back</a><br> <br>
			<table border="1">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Specialist</th>
						<th>Experience</th>
						<th>Email Id</th>
						<th>Password</th>
						<th>Action</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="doctor:${listDoctor}">
						<td th:text="${doctor.id}" />
						<td th:text="${doctor.name}" />
						<td th:text="${doctor.address}" />
						<td th:text="${doctor.phoneNo}" />
						<td th:text="${doctor.specialist}" />
						<td th:text="${doctor.experience}" />
						<td th:text="${doctor.emailId}" />
						<td th:text="${doctor.password}" />
						<td><a th:href="@{'/editDoctor/' + ${doctor.id}}">Edit</a>
							&nbsp;&nbsp;&nbsp; <a
							th:href="@{'/deleteDoctor/' + ${doctor.id}}">Delete</a></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>

</body>
</html>
